.Confirm{

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 700px;
    height:300px;
    border-radius: 20px;
    background-color: rgb(237, 235, 235);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

}


.Text{
    font-size: 25px;
    font-weight: bold;
}


.Yes,
.No{
    border: 1px solid #ccc;
    background-color: #fff;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    font-size:28px;
    
}

.Yes{
    background-color: green;
    border: none;
    margin-right: 50px;
    color: white;
}


.ConfirmOuter{
    z-index: 9999;
}

