.ProductDescriptionContainer{
    display: flex;
    flex-direction:row;
    justify-content:center;
  
}


.ImageContainer{
    margin-right: 200px;
    
}


.Title{
    font-weight: bold;
    font-size: 50px;
}

.Price::before{
    content: "$";
    font-size: 30px;
    font-weight: bold;
    
}

.Price{
    font-size: 30px;
    font-weight: bold;
}

.Description{
    font-size: 25px;

}

